doctype xml
feed xmlns = 'http://www.w3.org/2005/Atom'
  title= blog_title
  link href="#{blog_url}/feed.atom"
  id= blog_url+"/"
  - if @posts.any?
    updated= @posts.first.published

  author
    name= blog_author

  - @posts.each do |post|
	entry
		title= html_escape post.date
		published= post.published
		updated= post.published
		link href="#{blog_url}/#{post.file}"
		id =blog_url+"/"+post.file
		author
			name= blog_author
		content type = 'html'
			= cdata_section post.content
