// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseColor: #2980b9

.pagination   
        opacity: 0.5
        transition: opacity 1s
        &:hover
                opacity: 1
                transition: opacity 1s
        a
                color: #fff
                text-decoration: none
                background: $baseColor
                border: 1px solid darken($baseColor,10%)
                padding: 5px 10px
                border-radius: 5px
                position: fixed
                bottom: 10px          
                &.newer
                        left: 10px
                &.older
                        right: 10px

article
        width: 100%
        margin: 0 auto 30px
        .informations
                border-top: 1px solid #ddd
                padding-top: 5px
                .twitter-share-button
                        float: left
                .date
                        font-size: 10px
                        float: right
                        background: #fff
                        margin-top: -12px
                        padding-left: 5px
                        a
                                color: #999
                                text-decoration: none
                                transition: color 1s
                                &:hover
                                        color: #000
                                        transition: color 1s

        p
                font-size: 1em
                color: #111
                padding-bottom: 10px
                @media all and (max-width: 500px)
                        font-size: 1.5em
                a
                        text-decoration: none
                        color: #000
                        border-bottom: 1px solid lighten($baseColor, 5%)
                        font-weight: bold
        img
                width: 100%
